<ng-container *ngIf="selectedProduct">
    <add-commercial-proposal-modal #addCommercialProposalModal [supplierInfo]="selectedSupplier"></add-commercial-proposal-modal>

    <sent-commercial-proposal-modal #sentCPModal></sent-commercial-proposal-modal>
    <sending-commercial-proposal-modal #sendingCPModal></sending-commercial-proposal-modal>

    <div  class="container">
        <div class="title-with-button">
                <h2>КОММЕРЧЕСКИЕ ПРЕДЛОЖЕНИЯ</h2>
                <div class="title-with-button__right">
                    <div class="btn btn--icon" (click)="addCommercialProposal()"><div class="icon icon--add" ></div>Добавить КП</div>
                    <div 
                        *ngIf="commercialOffers && commercialOffers.length && ifLoadData" 
                        class="btn btn--icon" 
                        (click)="downloadfile()">
                        <div class="icon icon--download"></div>
                        Скачать файл
                    </div>
                    <columns-filter *ngIf="commercialOffers && commercialOffers.length && ifLoadData" (onSelectedColumns)="onSelectedColumns($event)" [columns]="dataColumns"></columns-filter>
                </div>
        </div>
        <div *ngIf="!ifLoadData">Загрузка..</div>
        <ng-container *ngIf="ifLoadData && !commercialOffers">Нет данных для отображения</ng-container>
        <ng-container  *ngIf="initalData && initalData.length && ifLoadData" >
            <table  class="styled-table"  [mfData]="commercialOffers" #mf="mfDataTable" [class.styled-table--equals-head-column]="noShowSupplier" >
                    <thead>
                        <tr>
                            <th *ngIf="isColumnActive('zakup_date')" class="w95" >
                                Дата получения цены
                                <div class="styled-table__bottom-filter" *ngIf="initalData.length>1">
                                    <div class="sorting">
                                        <mfDefaultSorter by="zakup_date.value">
                                            <span class="sorting__default"></span>
                                        </mfDefaultSorter>
                                    </div>
                                    <date-range-filter 
                                        class="filter-left-position" 
                                        (onSelectedDate)="onSelectedDateRange($event)" 
                                        [minDate]="filterArray.zakup_date.min" 
                                        [maxDate]="filterArray.zakup_date.max" >
                                    </date-range-filter>
                                </div>
                            </th>
                            
                            <th *ngIf="isColumnActive('contract_value')" class="w87">
                                Объем
                                <div class="styled-table__bottom-filter" *ngIf="initalData.length>1">
                                    <div class="sorting">
                                        <mfDefaultSorter by="contract_value">
                                            <span class="sorting__default"></span>
                                        </mfDefaultSorter>
                                    </div>
                                    <input-filter-range (onEnterValue)="onEnterInputRangeFilter($event,'contract_value')" [minValue]="filterArray.contract_value.min" [maxValue]="filterArray.contract_value.max" [placeholder]="'Объем'"></input-filter-range>
                                    
                                </div>
                            </th>
                            <th *ngIf="isColumnActive('unitprice')" class="w75">
                                Цена, руб.
                                <div class="styled-table__bottom-filter" *ngIf="initalData.length>1">
                                    <div class="sorting">
                                        <mfDefaultSorter by="unitprice">
                                            <span class="sorting__default"></span>
                                        </mfDefaultSorter>
                                    </div>
                                    <input-filter-range (onEnterValue)="onEnterInputRangeFilter($event,'unitprice')" [minValue]="filterArray.unitprice.min" [maxValue]="filterArray.unitprice.max" [placeholder]="'Цена'"></input-filter-range>
                                </div>
                            </th>

                            <th *ngIf="isColumnActive('delivery_terms')" class="w70">
                                Срок поставки   
                            </th>
                            
                            <th *ngIf="isColumnActive('participation')" class="w145">
                                Участий в закупках

                                <div class="styled-table__bottom-filter" *ngIf="initalData.length>1">
                                    <div class="sorting">
                                        <mfDefaultSorter by="participation">
                                            <span class="sorting__default"></span>
                                        </mfDefaultSorter>
                                    </div>
                
                                    <input-filter-range (onEnterValue)="onEnterInputRangeFilter($event,'participation')" [minValue]="filterArray.participation.min" [maxValue]="filterArray.participation.max" [placeholder]="'Участий'"></input-filter-range>
                                </div>
                            </th>
                            <th *ngIf="isColumnActive('result')" class="w120">
                                КП
                                <!-- <div class="styled-table__bottom-filter" *ngIf="initalData.length>1">
                                    <radio-filter (onSelectValue)="onSelectRadioFilter($event,'result')" [fieldName]="'result'"></radio-filter>
                                </div> -->
                            </th>
                            <th *ngIf="isColumnActive('call_id')" class="w130">
                                Звонки
                                <!-- <div class="styled-table__bottom-filter" *ngIf="initalData.length>1">
                                    <radio-filter class="filter-right-position" (onSelectValue)="onSelectRadioFilter($event,'call_id')" [fieldName]="'call_id'"></radio-filter>
                                </div> -->
                            </th>
                        </tr>
                    </thead>
                    <tr 
                        *ngFor="let supplier of mf.data"
                        >
                            <td *ngIf="isColumnActive('zakup_date')" class="text-center">{{supplier.zakup_date ? supplier.zakup_date.text :'-'}}</td>
                            <td *ngIf="isColumnActive('contract_value')" class="text-center">
                                {{supplier.contract_value ? ((supplier.contract_value  | thousandsSpace)+' '+selectedProduct.unit.abbreviation) : '-'}}
                            </td>
                            <td *ngIf="isColumnActive('unitprice')" class="text-center">
                                
                                <span 
                                    *ngIf="supplier.percentDiff<15" 
                                    class="green-color cursor"
                                    tooltip="Нормальная цена" 
                                    [options]="tooltipOptions"
                                    show-delay="500">
                                    {{supplier.unitprice | thousandsSpace}} руб.
                                </span>
    
                                <span 
                                    *ngIf="supplier.percentDiff>15 && supplier.percentDiff<30" 
                                    class="yellow-color cursor"
                                    tooltip="Средняя цена" 
                                    [options]="tooltipOptions"
                                    show-delay="500">
                                    {{supplier.unitprice | thousandsSpace}} руб.
                                </span>
                                <span 
                                    *ngIf="supplier.percentDiff>=30" 
                                    class="red-color cursor"
                                    tooltip="Завышеная цена" 
                                    [options]="tooltipOptions"
                                    show-delay="500">
                                    {{supplier.unitprice | thousandsSpace}} руб.
                                </span>
                                
                            </td>
                            <td *ngIf="isColumnActive('delivery_terms')" class="text-center">
                                    {{supplier.delivery_terms ? supplier.delivery_terms  : '-'}}
                                   
                                
                            </td>
                            <td *ngIf="isColumnActive('participation')" class="text-center">
                                    {{supplier.participation ? (supplier.participation  | thousandsSpace) : '-'}}
                            </td>
                            <td *ngIf="isColumnActive('result')"class="text-center" >
                                <div class="icon icon--chat cursor v-align-top m2" (click)="showSendingCPModal(supplier)"></div>
                                <div *ngIf="supplier.call && supplier.call.length" class="icon icon--letter cursor v-align-top m2" (click)="showSentCPModal(selectedSupplier.supplier_id,supplier)"></div>

                            </td>
                            <td *ngIf="isColumnActive('call_id')" class="text-center">

                                    <!-- <ng-container *ngIf="supplier.calls.length">
                                        <audio-player *ngFor="let call of supplier.calls" [src]="call"></audio-player>
                                    </ng-container>
                                    <ng-container *ngIf="!supplier.calls.length">-</ng-container> -->


                                <ng-container *ngIf="supplier.call_id && supplier.call_id">
                                    <div class="btn-control-audio">
                                        <div class="icon icon--play"></div>
                                    </div>
                                    <div class="btn-control-audio">
                                        <div class="icon icon--stop"></div>
                                    </div>
                                    <div class="btn-control-audio">
                                        <div class="icon icon--pause"></div>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="!supplier.call_id">-</ng-container>
                            </td>
                    </tr>
            </table>
            <ng-container *ngIf="!commercialOffers.length">
                <br>  <br>
                Нет данных для отображения, измените или сбросьте фильтры
                <br>  <br>
            </ng-container>
        </ng-container>
    </div>
</ng-container>