*{
    box-sizing: border-box;
}
[hidden] {
    display: none !important;
}
body{
    min-width: 1024px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Avenir Next';
}
label{
    font-weight: normal;
}
.container{
    max-width: $container-width;
    box-sizing: content-box;
    padding: 0 20px;
    margin: 0 auto;
}

fieldset{
    border: 0;
    margin: 0;
    padding: 0;
    
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.highcharts-tooltip>span {
    padding: 0 10px;
}
.title-red{
    font-family: 'FiraSans';
    color: #b32520;
    font-size: 13.5px;
    font-weight: 700;
    line-height: 16.5px;
    text-transform: uppercase;
}
.title-with-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 45px 0 37px;
    &__right{
        display: flex;
        align-items: center;
        >*{
            margin-left: 35px;
        }
    }
    h2{
        margin: 0;
    }
}
h2{
    color: #b32520;
	font-family: 'FiraSans';
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}
.bordered-title{
    span{
        display: inline-block;
        color: #B32520;
        font-family: 'FiraSans';
        font-size: 18px;
        line-height: 20px;
        text-transform: uppercase;
        font-weight: 700;
        border-bottom: 1.5px solid #B12726;
        letter-spacing: 0.6px;
        padding-bottom: 13px;
        margin-top: 39px;
        margin-bottom: 20px;
    }
}
.gray-link{
    letter-spacing: -0.3px;
    font-size: 15px;
    line-height: 16px;
    color: #989898;
    text-decoration: underline;
    &--icon{
        display: flex;
        align-items: center;
        .icon{
            margin-right: 7px;
        }
    }
    &:hover{
        text-decoration: none;
    }
}