*{
    box-sizing: border-box;
}
body{
    min-width: 1024px;
}
.container{
    max-width: $container-width;
    box-sizing: content-box;
    padding: 0 20px;
    margin: 0 auto;
}
body{
    font: 14px/18px 'FiraSans';
}
fieldset{
    border: 0;
    margin: 0;
    padding: 0;
    
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.highcharts-tooltip>span {
    padding: 0 10px;
}
.title-red{
    font-family: 'FiraSans';
    color: #b32520;
    font-size: 13.5px;
    font-weight: 700;
    line-height: 16.5px;
    text-transform: uppercase;
}
.title-with-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__right{
        display: flex;
        align-items: center;
        >*{
            margin-left: 35px;
        }
    }
}
h2{
    color: #b32520;
	font-family: 'FiraSans';
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}