
@font-face {
	font-family: 'FiraSans';
	src: url('/assets/fonts/FiraSans-Medium.eot');
	src: local('☺'), url('/assets/fonts/FiraSans-Medium.woff') format('woff'), url('/assets/fonts/FiraSans-Medium.ttf') format('truetype'), url('/assets/fonts/FiraSans-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'FiraSans';
	src: url('/assets/fonts/FiraSans-Bold.eot');
	src: local('☺'), url('/assets/fonts/FiraSans-Bold.woff') format('woff'), url('/assets/fonts/FiraSans-Bold.ttf') format('truetype'), url('/assets/fonts/FiraSans-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

