hr.red{
    border: none;
    border-top: 2px solid #b32520;
    margin: 52px 0 20px;
}
.styled-label{
    color: #b32520;
    font-size: 13.5px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 11px;
    display: block;
    font-family: 'FiraSans';
}
.styled-input{
    appearance: none;
    padding: 10px 16px;
    margin: 0;
    border-radius: 5px;
    height: 32px;
    min-height: 32px;
    border: 1px solid #c2c2c2;
    outline: none !important;
    box-shadow: none;
    font-family: 'Avenir Next';
    color: $text-color;
    font-size: 15px;
    &--search{
        background: white url(/assets/images/icons/search.svg) center right 10px no-repeat;
        background-size: 14px;
        padding-right: 30px;
    }
    &--phone{
        width: 218px !important;
        background: url(/assets/images/icons/icon-call.svg) center right 15px no-repeat;
        background-size: 18px;
        padding-right: 35px;
    }
    &[disabled]{
        background: #f9f9f9;
        border-color: #c5c5c5;
    }
}
.input-error{
    font: normal 13.5px/20px 'Avenir Next';
    color: #b32520;
}
textarea.styled-input{
    padding-top: 4.5px;
    padding-bottom: 6.5px;
    line-height: 19px;
    resize: none;
}

.autocomplete-input input{
    width: 100%;
    @extend .styled-input;
    @extend .styled-input--search;
}
.completer-dropdown{
    max-height: 300px;
    overflow-y: scroll;
}
.ng-select{

    &.ng-select-focused:not(.ng-select-opened)>.ng-select-container{
        box-shadow: none;
        border: 1px solid #c2c2c2;
    }
    .ng-arrow-wrapper{
        padding-right: 10px;
        .ng-arrow{
            border-width: 8px 5px 2.5px;
            border-color: #d8d8d8 transparent transparent;
        }
    }
    &.ng-select-opened>.ng-select-container .ng-arrow{
        border-width: 2.5px 5px 8px; 
    }
    &.ng-select-single{
        .ng-select-container{
            cursor: pointer;
            @extend .styled-input;
            padding-right: 0;
            .ng-value-container{
                padding-left: 0;
                .ng-input{
                    padding-left: 16px;
                }
            }
        }
    }
    &.ng-select-opened>.ng-select-container .ng-arrow{
        border-color:  transparent transparent #d8d8d8;
    }
}

.ng-dropdown-panel{
    .ng-dropdown-panel-items{
        .ng-option{
            padding: 6px 16px;
            color: #6c6b6b;
            font-family: 'Avenir Next';
            font-weight: 400;
            font-size: 16.5px;
            &.ng-option-selected .ng-option-label{
                font-weight: 400;
            }
            &.ng-option-marked{
                background: #e2eef2;
             
            }
        }
    }
}

.completer-holder{
    position: relative;
    .completer-dropdown-holder{
        width: 100%;
        .completer-dropdown{
            border: 1px solid #c2c2c2;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            margin-top: -3px;
            border-top-color: #e6e6e6;
            padding: 0;
            width: 100%;
          
                .completer-row,.completer-no-results,.completer-searching{
                    background: none;
                    padding: 6px 16px;
                    width: 100%;
                    margin-bottom: 0;
                    font-family: 'Avenir Next';
                    font-weight: 400;
                    font-size: 16.5px;
                    color: $text-color;
                }
                .completer-row{
                    &:hover{
                        background: #e2eef2;
                        color: $text-color;
                    }
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
               
        
            
        }
    }
}

.field-3-column{
    display: flex;
    justify-content: space-between;
    align-items: center;
    input{
        width: 110px;
    }
    &__line{
        border-top: 1px solid #979797;
        width: 13.5px;
        display: block;
        font-size: 0;
        height: 0;
        margin: 0 3px;
    }
    &__last{
      
        &:not(.ng-dropdown-panel){
            width: 110px;
            margin-left: 10px;
        }
    }
}
.region-tag-list{
    &__item{
        border-radius: 43px;
        height: 32px;
        background: rgba(216, 216, 216, 0.5);
        display: inline-block;
        line-height: 30px;
        padding: 0 45px 0 15px;
        margin-right: 15px;
        color: #6c6b6b;
        font-family: 'Avenir Next';
        font-size: 15px;
        font-weight: 400;
        position: relative;
        margin-top: 14px;
    }
    &__close{
        position: absolute;
        width: 20px;
        height: 20px;
        top: 50%;
        right: 7px;
        transform: translateY(-50%);
        cursor: pointer;
        &:after,&:before{
            content: "";
            display: block;
            width: 15px;
            height: 1px;
            background: #979797;
            position: absolute;
            top:50%;
            left: 15%;
            transform: rotate(45deg)
        }
        &:after{
            transform: rotate(-45deg)
        }
    }
}

.switch {
    display: flex;
    align-items: center;
    cursor: pointer;
    input {
        display:none;
        &:checked + .switch__slider {
            background: #25ce77;
        }
        &:checked + .switch__slider:before {
            transform: translateX(11px);
        }
    }
    &__text{
        margin-left: 20px;
    }
    &__slider {
        width: 28px;
        height: 15px;
        position: relative;
        display: block;
        background-color: #ccc;
        border-radius: 15px;
        transition: .4s;
        &:before {
            position: absolute;
            content: "";
            height: 13px;
            width: 13px;
            left: 1px;
            bottom: 1px;
            border-radius: 50%;
            background-color: white;
            transition: .4s;
          }
    }
}

.styled-checkbox{
    display: inline-block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    user-select: none;
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        border-radius: 5px;
        border: 1px solid #c2c2c2;
        background: #ffffff;
        transition: .2s;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 5px;
            top: 0px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
        
    }
    input[type="checkbox"]{
        position: absolute;
        opacity: 0;
        &:checked ~ .checkmark {
            background: #25ce77;
            border-color:#25ce77;
            &:after {
                display: block;
            }
        }
        &:not(:checked) ~ .checkmark{
            &--color{
                border-color: #c2c2c2 !important;
                background: #ffffff !important;
            }
        }
    }
    
}
.styled-radio{
    display: inline-block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    user-select: none;
    color: #6C6B6B;
    font: 14px/18px 'Avenir Next';
    &__icon {
        position: absolute;
        top: 2px;
        left: 0;
        height: 14px;
        width: 14px;
        border-radius: 100%;
        border: 1px solid #c2c2c2;
        background: #ffffff;
        transition:all .1s linear;
        &:after {
            content: "";
            transition:all .1s linear;
            position: absolute;
            opacity: 0;
            border-radius: 100%;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 6px;
            height: 6px;
            border:1px solid #c2c2c2;
            background: white;
        }
        
    }
    input[type="radio"]{
        position: absolute;
        opacity: 0;
        &:checked ~ .styled-radio__icon {
            background: #25ce77;
            &:after {
                opacity: 1;
            }
        }

    }
}
.field-error{
    color: #b32520;
    font-size: 12px;
    position: absolute;
    top:100%;
}
.btn{

    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    background: #ebebeb;
    height: 32px;
    line-height: 32px;
    color: #6c6b6b;
    font-family: 'Avenir Next';
    font-size: 18px;
    font-weight: 400;
    padding: 0 10px;
    display: inline-block;
    transition:all .2s linear;
    &--icon{
        display: inline-flex;
        align-items: center;
        .icon{
            margin: 0 12px 0 3px;
        }
    }
    &:hover{
        background: #d5d5d5;
    }
    &--red{
        background: #b32520;
        color: white;
        &:hover{
            background: #99201b;
        }
    }
    &--40{
        height: 40px;
        line-height: 40px;
        min-width: 150px;
        text-align: center;
    }
}

.popup-form{
    position: relative;
    &__container{
        display: none;
        margin-top: 16px;
        position: absolute;
        z-index: 1;
        right: 0;
        top:100%;
        border: 1px solid #c2c2c2;
        background: #ffffff;
        padding: 5px 18px 0;
        color: #6c6b6b;
        font-family: 'Avenir Next';
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.3px;
        text-align: left;
        .styled-checkbox{
            padding-left: 24px;
            line-height: 22px;
            .checkmark{
                border-radius: 5px;
                width: 14px;
                height: 14px;
                top: 4px;
                &:after{
                    left: 3px;
                    top: 0px;
                    width: 4px;
                    height: 8px;
                    border-color:  #979797;
                }
            }
            .checkmark,
            input[type="checkbox"]:checked ~ .checkmark{
                border: 1px solid #979797;
                background: #ffffff; 
            }
        }

      
    }
    &.active &__container{
        display: block;
    }
    &--290{
        .popup-form__container{
            width: 290px;
        }
    }
    &--270{
        .popup-form__container{
            width: 270px;
        }
    }
    &--225{
        .popup-form__container{
            width: 225px;
        }
    }
    &--calendar{
        .popup-form__container{
            padding: 0;
            .date-range-input{
                display: flex;
                &__item{
                    position: relative;
                    height: 28px;
                    width: 50%;
                    min-width: 50%;
                    background: #e2eef2;
                    color: #6c6b6b;
                    font-family: 'Avenir Next';
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 28px;
                    padding-left: 6px;
                    padding-right: 9px;
                    border-bottom: 1px solid #979797;
                    display: flex;
                    align-items: center;
                    &:not(:first-child){
                        border-left: 1px solid #979797;
                    }
                    .icon{
                        margin-right: 5px;
                    }
                   
                }
                &.active{
                    cursor: pointer;
                    .date-range-input__item{
                        border-bottom: none;
                        &:after{
                            content: "";
                            display: block;
                            position: absolute;
                            right: 4px;
                            top: 9px;
                            width: 4px;
                            height: 4px;
                            border: 1px solid #979797;
                            border-right: none;
                            border-top: none;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
          
        }
        .popup-form__bottom-btn{
            margin: 0;
            .btn{
                font-size: 14px;
            }
        }
    }
    &__input-2-column{
        display: flex;
        justify-content: space-between;
        input{
            width: 100px;
            margin: 6px 5px 14px;
        }

    }
    &__input-label{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0px 17px;
        input{
            margin: 0;
            width: 135px;
            margin-right: 20px;
        }
        label{

        }
    }
    &__input{
        padding: 8px 10px;
        border-radius: 7px;
        width:100%;
        height: 30px;
        border: 1px solid #c2c2c2;
        background: #ffffff;
        color: #6c6b6b;
        font-family: 'Avenir Next';
        font-size: 15px;
        line-height: 30px;
        outline: none;
        margin: 10px 0px 17px;
    }
    &__bottom-btn{
        display: flex;
        margin-left: -18px;
        margin-right: -18px;
        margin-top: -3px;
        >*{
            width: 50%;
            text-align: center;
            border-radius: 0px;
            border-top:1px solid #979797;
            letter-spacing: -0.8px;
            &:not(:first-child){
                border-left: 1px solid #979797;
            }
        }
    }
    &__checkbox{
        display: block;
        margin-bottom: 2px;
    }
}
.filter{
    &__icon{
        cursor: pointer;
        width: 13px;
        height: 15px;
        background: url('/assets/images/icons/filter.svg') 0px 0px no-repeat;
        background-size: contain;
    }
    .popup-form__container{
        transform: translateX(50%);
        margin-top: 3px;
    }
}
.sorting{
    margin-right: 3px;
    &__default,
    .glyphicon{
        &:after,&:before{
            content: "";
            border:4px solid transparent;
            border-top-width: 6px;
            border-bottom-width: 6px;
            display: block;
            width: 0;
            height: 0;
            margin-left: auto;
            margin-right: auto;
        }
        &:before{
            margin-bottom: 1px;
        }
    
    }
    .glyphicon{
        &:after{
            border-top-color: #6c6b6b;
        }
        &:before{
            border-bottom-color: #6c6b6b;
        }
    }
    &__default,.glyphicon-triangle-top,
    {
        &:after{
            border-top-color: #c2c2c2;
        }
    }
    &__default,.glyphicon-triangle-bottom
    {
        &:before{
            border-bottom-color: #c2c2c2;
        }
    }

    a{
        width: 15px;
        height: 20px;
        display: flex;
        align-items: center;
        vertical-align: middle;
        justify-content: center;
        >:not(:last-child){
            display: none;
        }
    }
}


.btn-control-audio{
    cursor: pointer;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    transition: .2s;
    &:hover{
        opacity: 0.8;
    }
}

.styled-form{
    .styled-input{
        width: 100%;
    }
    &__3-column{
        display: flex;
        justify-content: space-between;
    }
    &__two-column{
        display: flex;
        justify-content: space-between;
        .styled-form__row{
            width: 47.5%;
            min-width: 47.5%;

            
        }
    }

    &__two-column .styled-form__row,
    &__row{
        &--w31{
            min-width: 31%;
            width: 31%;
        }
        &--w33{
            min-width: 33%;
            width: 33%;
        }
        &--w39{
            min-width: 39%;
            width: 39%;
        }
        &--w47{
            min-width: 47%;
            width: 47%;
        }
        &--w49{
            min-width: 49%;
            width: 49%;
        }
        &--w51{
            min-width: 51%;
            width: 51%;
        }
        &--w53{
            min-width: 53%;
            width: 53%;
        }
        &--w50{
            min-width: 50%;
            width: 50%;
        }
        margin-bottom: 30px;
        display: flex;
        &--mb15{
            margin-bottom: 15px;
        }

    }
    &__left-label{
        min-width: 195px;
        width: 195px;
        padding-right: 20px;
        height: 32px;
        text-align: right;
        font: normal 13.5px/15px 'Avenir Next';
        color: #2C4155;
        margin-bottom: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &--w100{
            min-width: 100px;
            width:100px;
        }
        &--w165{
            min-width: 165px;
            width:165px;
        }
        &--w150{
            min-width: 150px;
            width: 150px;
        }
        &--width-auto{
            min-width: auto;
            width: auto;
        }
        &--f12{
            font-size: 12px !important;
        }
    }
    &__right-value{
        padding-right: 40px;
        width: 100%;
        &--pr0{
            padding-right: 0px;
        }
        &--mini{
            width: 115px;
            padding-right: 0px;
            .styled-form__select-type--selected{
                min-width: 100%;
                width: 100%;
            }
        }
    }
    &__select-type{
        display: flex;
        &--selected{
            width: 170px;
            min-width: 170px;
            margin-right:30px;
        }
        &--input{
            width: 100%;
        }
    }
    &__character{
        margin-top: 23px;
        .styled-checkbox{
            width:50%;
            min-width: 50%;
            margin-bottom: 25px;
            color:#2C4155;
            &:last-child,&:nth-last-child(2){
                margin-bottom: 0px;
            }
        }
    }
    &__border{
        border: 1px solid #979797;
        padding-top: 31px;
    }
}
.file-upload{
    position: relative;
    [type="file"]{
        pointer-events: none;
        opacity: 0;
        position: absolute;
    }
    &__item{
        display: flex;
        align-items: center;
        line-height: 32px;
        font: normal 13.5px/32px 'Avenir Next';
    }
    &__close{
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}
.input-link{
    position: relative;
    &__icon{
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 9px;
        right: 0;
    }
}
.input-right-icon{
    padding-right: 40px;
    position: relative;
    &__icon{
        position: absolute;
        right: 0;
        top: 6px;
        cursor: pointer;
    }
}
.mydp .headerclearbtn,
.mydp .headerokbtn,
.mydrp .headerclearbtn, 
.mydrp .headerokbtn{
    display: none !important;
}

html body .mydp{
    border: none !important;
    padding: 0;
    display: block;
    .selection {
        @extend .styled-input;
    }
    .selectiongroup{
        width: 100%;
        height: 32px;
    }
    .selbtngroup{
        display: none;
    }
}
.switch,
.styled-checkbox,
.styled-radio{
    font-size: 14px;
    line-height: 15px;
    font-family: 'Avenir Next';
}
.mydrp,.mydp{
    display: block;
    width: 100% !important;

    .selector{
        width: 100% ;
        height: auto ;
        border: 0;
        margin-left: 0;
        margin-top: 0;
    }
    .daycell{
      
        font-family: 'Avenir Next';
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        padding: 5px 4px;
        outline: none;
    }
    .datevalue{
        line-height: 23px;
    }
    .prevmonth,.nextmonth{
        color: #c2c2c2;
        
    }
    .currmonth{
      
        background-color: transparent;
        &:not(.range):hover{
            background-color: #DDD;
        }
    
    }
    .selecteddaybegin,.currmonth{
        color: #6c6b6b;
        background: transparent;
    }
    .range{
        background-color: #D9F2E6;
        *{
            background: none !important;
        }
    }
    .header{
        border-bottom: 1px solid #c2c2c2;
        td{
            padding-top: 3px;
        }
    }
    .headermonthtxt, .headeryeartxt{
        width: 70px !important;
        max-width: 100%  !important;
        &.headeryeartxt{
            width: 40px  !important;
        }
        .monthlabel,.headerlabelbtn{
            color: #b32520;
            font-family: 'FiraSans';
            font-size: 14px;
            line-height: 16px;
        }
    }
    .mydrpicon{
        color: #c2c2c2;
        font-size: 14px;
        &.headerbtndisabled{
            opacity: 0.2;
        }
    }
    .markcurrday{
        color: #b32520;
    }
    .weekdaytitle{
        background: none;
        color: #989898;
        font-family: 'Avenir Next';
        font-size: 12px;
        font-style: normal;
        font-stretch: normal;
        font-weight: 500;
        line-height: 16px;
        text-align: left;
        padding-top: 12px;
        text-align: center;
        padding-bottom: 6px;
    }
    .disabled{
        *{
            color: #c2c2c2;
            background: none !important;
        }
    }
}
.messages-list{
    &__item{
        display: flex;
        align-items: flex-start;
        position: relative;
        &:nth-child(odd){
            background: rgba(216, 216, 216, 0.16);
        }
        padding: 8px 15px 11px;
        &:not(:last-child){
            border-bottom: 1px solid #979797;
        }
    }
   
    &__text{
        color: #6C6B6B;
        font-family: 'Avenir Next';
        font-size: 14px;
        line-height: 19px;
    }
    &__file{
        margin-top: 10px;
        background: rgba(235, 235, 235, 0.5);
        text-align: center;
        padding: 3px 8px 8px;
        color: #6C6B6B;
        font-family: 'Avenir Next';
        font-size: 14px;
        line-height: 16px;
        .btn{
            height: 20px;
            line-height: 20px;
            font-size: 11px;
            padding: 0 9px;
            margin-top: 9px;
            border-radius: 1px;
            .icon{
                margin-right: 5px;
                width: 16px;
                margin-left: 0;
            }
        }
    }
}
.btn-toggle{
    width: 20px;
    height: 30px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after{
        content: "";
        display: block;
        border: 5px solid transparent;
        border-right: none !important;
        border-left-color: #D8D8D8;
        border-left-width: 8px;
        width: 0;
        height: 0;
    }
    &.active{
        &:after{
            transform: rotate(90deg)
        }
    }
}
.triangle-show-more{
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    cursor: se-resize;
    right: 1px;
    bottom: 1px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
    &:after{
        content: '';
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-top-color: #979797;
        border-bottom-width: 0;
        transform: rotate(-45deg);
        position: absolute;
        right: -3px;
        bottom: 0;
    }
}
.no-border-table{
    width: 100%;
    border: 0;
    color: #6C6B6B;
    font-size: 16.5px;
    line-height: 20px;
    th, td, tr, thead, tbody {
        display: block;
    }
    tr{
        display: flex;
    }
    thead{
        tr{
            align-items: center;
            height: 95px; 
            th{
                font-weight: bold;
                text-align: left;
            }
        }
    }


    tbody{
        border: 1.5px solid #979797;
        border-left: none;
        border-right: none;
        height: 133px;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 9px 0;

        td{
            padding: 3.2px 2px;
        }
        &::-webkit-scrollbar {
            width: 7px;
        }
           
        &::-webkit-scrollbar-thumb {
            background: #C2C2C2;
            border-radius: 7px;
        }
          
        &::-webkit-scrollbar-track {
            background: rgba(216, 216, 216, 0.5);
        }
    }
}