
.w6p{
    width: 6%;
}
.w7-5p{
    width: 7.5%;
}
.w8p{
    width: 8%;
}
.w10p{
    width: 10%;
}
.w11p{
    width: 11%;
}
.w13p{
    width: 13%;
}
.w18p{
    width: 18%;
}
.w200{
    width: 200px;
}
.w115{
    width: 115px !important;
}
.w190{
    width: 190px;;
}
.transition{
    transition:0.1s all ease-in-out;
}
.p0{
    padding: 0 !important;
}
.m2{
    margin: 2px;
}
.mb15{
    margin-bottom: 15px;
}
.mb18{
    margin-bottom: 18px;
}
.mt20{
    margin-top: 20px;
}

.mb30{
    margin-bottom: 30px;
}
.mr68{
    margin-right: 68px;
}

.mb50{
    margin-bottom: 50px;
}
.flex{
    display: flex;
}
.align-top{
    align-items: flex-start;
}
.align-center{
    align-items: center;
}
.text-center{
    text-align: center !important;
}
.cursor{
    cursor: pointer;
}
.align-items-center{
    align-items: center
}
.v-align-top{
    vertical-align: top;
}
.v-align-middle{
    vertical-align: middle;
}
.d-flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
html body .tooltip {
    border: 1px solid #979797;
    background: #ffffff;
    color: #6c6b6b;
    font-family: 'Avenir Next';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-transform: none;
    box-shadow: none !important;
    padding: 7.5px 17px;
    max-width: 280px;
    border-radius: 2px;
    &.tooltip-bottom::after,&.tooltip-bottom::before{
        content: "";
        display: block;
        position: absolute;
        text-outline: 0;
        border: 10px solid transparent;
        border-bottom-width: 7px;
        bottom: 100%;
        left: 50%;
        margin-left: -10px;
    }
    &.tooltip-bottom::before{
        border-bottom-color: #979797;
        bottom: 100%;
        margin-bottom: 1px;
    }
    &.tooltip-bottom::after{
        border-bottom-color: white;
    }
}
.break-word{
    word-break: break-all;
}