.f-weight-700{
    font-weight: 700;
}
.text-center{
    text-align: center;
}
.lowercase{
    text-transform: lowercase;
}
.underline{
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
    &:hover{
        text-decoration: none;
    }
}
