<div *ngIf="categories && categories.length" class="category-slider bg-gray">
    <div class="container ">
        <ngx-slick class="carousel category-slider__slider" #slickModal="slick-modal" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let category of categories" class="slide">
                <div 
                    [class.selected]="selectedCategory && (category.kpgz_id == selectedCategory.kpgz_id)"
                    class="toggle-class category-slide" 
                    >
                    <div class="category" trigger-active>
                        <!-- <div class="category__icon"><img src="/assets/images/category/3.svg "/></div> -->
                        <div class="category__name">{{category.kpgz_name}}</div>
                    </div>
                    <div class="category-slide__subcategory" *ngIf="category.spgz_list">
                        <div 
                            *ngFor="let product of category.spgz_list"
                            (click)="selectProduct(category,product)"
                            [class.selected]="selectedProduct && (product.spgz_id == selectedProduct.spgz_id)"
                            class="category-slide__subcategory__item" 
                            >
                            {{product.spgz_name}}
                        </div>
                    </div>
                </div>
            </div>
        </ngx-slick>
    </div>
</div>


<div *ngIf="units" class="container select-units-supplier">
    Единицы объема
    <ng-select 
        [searchable]="false" 
        [clearable]="false"
        [(ngModel)]="currentUnits"
        (change)="changeUnits()"
    >
        <ng-option *ngFor="let unit of units" [value]="unit.unit_id">{{unit.name}}</ng-option>
    </ng-select>

</div>



