<header>
    <div class="container">
        <a [routerLink]="['search','product']" class="logo">
            <img src="./../../../assets/images/logo@2x.png"/>
        </a>
        <nav class="nav">
            <a href="#" class="nav__submenu f-weight-700">
                <span class="submenu__text">Панель аналитика</span>
                <span class="submenu__icon"></span>
            </a>
            <a href="#">Петров И.И.</a>
            <a href="#" class="nav__exit">
                <img src="/assets/images/icons/home.svg" width="18" alt="Выход"/>
                <span>
                    Выход
                </span>
            </a>
            <div><img src="/assets/images/icons/print.svg" width="18" alt="Версия для печати"></div>
        </nav>
    </div>
</header>