<div 
    
    [class.active]="columnSelectShow"
    class="cursor popup-form popup-form--290">

    <div (click)="showColumnsSelect()">
        <img src="/assets/images/icons/gear.svg" width="20"/>
    </div>

    <div class="popup-form__container">
        <label 
            *ngFor="let item of columnsCopy"
            class="popup-form__checkbox styled-checkbox">
            <input 
                type="checkbox"
                (change)="item.active=!item.active"
                [checked]="item.active" 
                />
            <span class="checkmark"></span>
            {{item.text}}
        </label>
        <label class="popup-form__checkbox styled-checkbox">
            <input 
                type="checkbox"
                (change)="selectAllColumns($event,columnsCopy)"
                />
            <span class="checkmark"></span>
            Выделить все
        </label>
        <div class="popup-form__bottom-btn">
            <div class="btn" (click)="closeColumnsSelect()">Сбросить</div>
            <div class="btn" (click)="saveColumnsSelect()">Подтвердить</div>
        </div>
    </div>
</div>