<div class="container">
    <div>
        <div [chart]="chart"></div>
    </div>
    <!-- <div>
        <div></div>
        <div class="chart-legend">
            <div class="chart-legend__left">
                <label class="styled-checkbox chart-legend__item">
                    <input type="checkbox">
                    <span class="checkmark checkmark--color"  style="background: #fe1b1b;border-color: #fe1b1b;"></span> 
                    Рынок в Москве 
                </label>
                <label class="styled-checkbox chart-legend__item">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                    Закупки в Москве
                </label>
                <label class="styled-checkbox chart-legend__item"><input type="checkbox"><span class="checkmark"></span>Рынок ЦФО</label>
                <label class="styled-checkbox chart-legend__item"><input type="checkbox"><span class="checkmark"></span>Рынок вне ЦФО</label>
                <label class="styled-checkbox chart-legend__item"><input type="checkbox"><span class="checkmark"></span>Закупки вне ЦФО</label>
            </div>
            <div class="chart-legend__right">
                <label class="styled-checkbox chart-legend__item">
                    <input type="checkbox">
                    <span class="checkmark  checkmark--color" style="background: #33953c;border-color: #33953c;"></span>
                    Рынок выбранной территории
                </label>
                <label class="styled-checkbox chart-legend__item"><input type="checkbox"><span class="checkmark"></span>Закупки выбранной территории</label>
                <label class="styled-checkbox chart-legend__item"><input type="checkbox"><span class="checkmark"></span>Федералы в Москве</label>
                <label class="styled-checkbox chart-legend__item"><input type="checkbox"><span class="checkmark"></span>Федералы вне Москвы</label>
                <label class="styled-checkbox chart-legend__item"><input type="checkbox"><span class="checkmark"></span>Муниципалы в Москве</label>
                <label class="styled-checkbox chart-legend__item"><input type="checkbox"><span class="checkmark"></span>Муниципалы вне Москвы</label>
            </div>
        </div>
    </div> -->
</div>
