<div class="container">
    <div *ngIf="!priceChartsData">Загрузка графика...</div>
    <price-chart *ngIf="priceChartsData"  [data]="priceChartsData"></price-chart> 

    <div class="product-price">
        <div class="product-price__left">
            <prices-table *ngIf="priceDynamicsArray" [priceArray]="priceDynamicsArray" [predictionPrice]="predictionPrice"></prices-table>
        </div>
        <div class="chart-legend product-price__right">
            <div *ngIf="!priceChartsData">Загрузка легенды для графика...</div>
            <chart-legend *ngIf="priceChartsData && legendData" [legendData]="legendData" (onChanged)="onChangedChartLegend($event)"></chart-legend>
        </div>
    </div>
</div>
