<bs-modal [animation]="true" [keyboard]="true" [backdrop]="true"
   #addSupplierModal  [cssClass]="'styled-modal styled-modal--large add-supplier-modal'" (onClose)="onClose()" (onDismiss)="onClose()">
    <bs-modal-header [showDismiss]="true">
        <h2 class="modal-title" >Карточка поставщика</h2>
    </bs-modal-header>
    <bs-modal-body>
        <form  [formGroup]="addSupplierForm" novalidate *ngIf="addSupplierForm">
            <div *ngIf="!ifSendSuccess" class="styled-form">
                <div class="styled-form__border mb50">
                    <!---->
                    <div class="styled-form__row mb15">
                        <label class="styled-form__left-label styled-form__left-label--w165"></label>
                        <div class="styled-form__right-value">
                            <label class="styled-radio mr68">
                                <input type="radio" name="supplier_type" value="producer" formControlName="supplier_type" >
                                <span class="styled-radio__icon"></span>
                                Производитель
                            </label>
                            <label class="styled-radio">
                                <input type="radio" name="supplier_type"  value="provider" formControlName="supplier_type">
                                <span class="styled-radio__icon"></span>
                                Поставщик
                            </label>
                        </div>
                    </div>
                    <!---->
                    <!---->
                    <div class="add-supplier-modal__3-column-top">
                        <div class="styled-form__row">
                            <label class="styled-form__left-label styled-form__left-label--w165">ИНН</label>
                            <div class="styled-form__right-value">
                                <input
                                    formControlName="inn"
                                    [textMask]="numberMaskOptions"
                                    type="text"
                                    (blur)="onBulrInn()"
                                    (keyup.enter)="onBulrInn()"
                                    class="styled-input"
                                        />
                                <div  *ngIf="addSupplierForm.get('inn').hasError('required') && addSupplierForm.get('inn').touched" >Введите ИНН</div>
                                <div class="input-error" *ngIf="isSupplierExists && !ifLoadInn"  style="position: absolute;">Этот поставщик уже добавлен, введите ИНН другого поставщика</div>
                                <div *ngIf="ifLoadInn" style="position: absolute;">Загрузка ...</div>
                            </div>

                        </div>
                        <div *ngIf="ifCheckInn" class="styled-form__row">
                            <label class="styled-form__left-label styled-form__left-label--width-auto">КПП</label>
                            <div class="styled-form__right-value">
                                <input
                                    formControlName="kpp"
                                    [textMask]="numberMaskOptions"
                                    type="text"
                                    class="styled-input"
                                        />
                                <div class="input-error" *ngIf="addSupplierForm.get('kpp').hasError('required') && addSupplierForm.get('kpp').touched" >Введите КПП</div>
                            </div>
                        </div>
                        <div *ngIf="ifCheckInn" class="styled-form__row align-top">
                            <label class="switch">
                                <input type="checkbox"  formControlName="switchEdit"  (change)="changeEdit($event.target.checked)">
                                <span class="switch__slider"></span>
                                <div class="switch__text">
                                    Редактировать данные об организации
                                </div>

                            </label>
                        </div>

                    </div>

                    <!---->
                    <!---->
                    <div class="styled-form__row">
                        <label class="styled-form__left-label styled-form__left-label--w165">Название компании</label>
                        <div class="styled-form__right-value">
                            <input
                                type="text"
                                class="styled-input"
                                formControlName="name"
                            placeholder="Введите название компании"/>
                            <div class="input-error" *ngIf="addSupplierForm.get('name').hasError('required') && addSupplierForm.get('name').touched" >Введите ссылку</div>
                        </div>
                    </div>
                    <!---->

                    <!---->
                    <div class="styled-form__row">
                        <label class="styled-form__left-label styled-form__left-label--w165">Адрес</label>
                        <div class="styled-form__right-value">
                            <textarea
                                class="styled-input"
                                formControlName="addres"
                                rows="1"
                                autosize
                                [minHeight]="32"
                                [maxHeight]="260"
                                    placeholder="Укажите адрес"
                                    ></textarea>
                            <div class="input-error" *ngIf="addSupplierForm.get('addres').hasError('required') && addSupplierForm.get('addres').touched" >Введите адрес</div>
                        </div>
                    </div>
                    <!---->
                    <!---->
                    <div class="styled-form__two-column">
                        <div class="styled-form__row styled-form__row--w49">
                            <label class="styled-form__left-label styled-form__left-label--w165">Сайт</label>
                            <div class="styled-form__right-value styled-form__right-value--pr0">
                                <input
                                    type="text"
                                    class="styled-input"
                                    formControlName="site"/>
                            </div>
                        </div>
                        <div class="styled-form__row styled-form__row--w51">
                            <label class="styled-form__left-label styled-form__left-label--w150">Email</label>
                            <div class="styled-form__right-value ">
                                <input
                                    type="text"
                                    class="styled-input "
                                    formControlName="email"/>
                                <div class="input-error" *ngIf="addSupplierForm.get('email').hasError('required') && addSupplierForm.get('email').touched" >Введите email</div>
                            </div>
                        </div>
                    </div>
                    <!---->
                    <!---->
                    <div class="styled-form__two-column">
                        <div class="styled-form__row styled-form__row--w49">
                            <label class="styled-form__left-label styled-form__left-label--w165">Номер телефона</label>
                            <div class="styled-form__right-value">
                                    <input
                                    formControlName="phone"
                                    [textMask]="maskPhoneSettings"
                                    type="text"
                                    class="styled-input"
                                    [placeholder]="maskPhoneSettings.placeholder"
                                    (blur)="onBlurMaskPhone()"
                                    />
                                    <div class="input-error" *ngIf="addSupplierForm.get('phone').hasError('required') && addSupplierForm.get('phone').touched" >Введите телефон</div>
                            </div>
                        </div>
                        <div class="styled-form__row styled-form__row--w51">
                            <label class="styled-form__left-label styled-form__left-label--w150">Дата регистрации</label>
                            <div class="styled-form__right-value">
                                <div class="w115">
                                    <my-date-picker name="dataRegistration" [options]="myDatePickerOptions"
                                    formControlName="dataRegistration"></my-date-picker>
                                </div>
<!--
                                <input
                                    type="text"
                                    class="styled-input w115"
                                    formControlName="dataRegistration"/> -->
                                <div class="input-error" *ngIf="addSupplierForm.get('dataRegistration').hasError('required') && addSupplierForm.get('dataRegistration').touched" >Введите дату</div>
                            </div>
                        </div>
                    </div>
                    <!---->
                </div>


                <div class="styled-form__border">
                    <!---->
                    <div class="styled-form__3-column">
                        <div class="styled-form__row styled-form__row--w47">
                                <label class="styled-form__left-label styled-form__left-label--w165">Обороты за год</label>
                                <div class="styled-form__right-value">
                                    <input
                                        [textMask]="numberDecimalSpaceMaskOptions"
                                        type="text"
                                        class="styled-input"
                                        formControlName="year_value"
                                        placeholder="В рублях"/>
                                </div>
                        </div>
                        <div class="styled-form__row styled-form__row--w31">
                            <label class="styled-form__left-label styled-form__left-label--width-auto">Масштаб</label>
                            <div class="styled-form__right-value">
                                <ng-select
                                    [searchable]="false"
                                    [clearable]="false"
                                    formControlName="scale"
                                    >
                                        <ng-option value="1">Мелкий</ng-option>
                                        <ng-option value="2">Средний</ng-option>
                                        <ng-option value="3">Крупный</ng-option>
                                </ng-select>
                            </div>
                        </div>
                        <div class="styled-form__row align-items-center mt7">
                            <div class="styled-form__right-value ">
                                    <label class="styled-checkbox">
                                        <input type="checkbox"  formControlName="has_warehouse" />
                                        <span class="checkmark"></span>
                                        Наличие склада
                                    </label>
                            </div>
                        </div>
                    </div>
                    <!---->
                    <!---->
                    <div class="styled-form__row">
                        <label class="styled-form__left-label styled-form__left-label--w165">Продукт</label>
                        <div class="styled-form__right-value">
                            <div class="styled-form__select-type">
                                <ng-select
                                    [searchable]="false"
                                    [clearable]="false"
                                    formControlName="typeProduct"
                                    (change)="changeType($event)"
                                    class="styled-form__select-type--selected"
                                    >
                                    <ng-option value="product" selected>Продукт</ng-option>
                                    <ng-option value="spgz">ID SPGZ</ng-option>
                                </ng-select>
                                <div class="styled-form__select-type--input">
                                    <ng-container *ngIf="this.addSupplierForm.controls['typeProduct'].value=='product'">
                                            <autocomplete-field
                                            class="autocomplete-input"
                                                (onSelectedValue)="selectProduct($event)"
                                                [urlSearch]="autocompleteProduct.url"
                                                [searchFields]="autocompleteProduct.searchField"
                                                [titleField]="autocompleteProduct.titleField"
                                                [placeholder]="'Поиск по продукту'"
                                            ></autocomplete-field>
                                            <div *ngIf="ifDisabledProduct"  class="input-error" >Такого продукта нет среди закупок, выберите другой продукт из списка.</div>
                                    </ng-container>
                                    <ng-container *ngIf="this.addSupplierForm.controls['typeProduct'].value=='spgz'">
                                            <autocomplete-field
                                            class="autocomplete-input"
                                                (onSelectedValue)="selectProductSpgz($event)"
												[urlSearch]="autocompleteSPGZ.urlFullSearch"
                                                [searchFields]="autocompleteSPGZ.searchField"
                                                [titleField]="autocompleteSPGZ.titleField"
                                                [placeholder]="'Поиск по ID СПГЗ'"
                                            ></autocomplete-field>
                                    </ng-container>
                                    <div class="input-error" *ngIf="addSupplierForm.get('product').hasError('required') && addSupplierForm.get('product').touched" >Выберите продутк</div>
                                </div>
                            </div>

                            <ng-container *ngIf="this.addSupplierForm.controls['typeProduct'].value=='product' && attrsProduct">
                                <div   *ngIf="attrsProduct.length" class="mt20" >

                                    <ng-container *ngFor="let attr of attrsProduct">
                                        <label class="styled-label">{{attr.name}}</label>
                                        <div class="styled-form__character">
                                            <label class="styled-checkbox"
                                                *ngFor="let item of attr.values">
                                                <input type="checkbox" value="{{item.id}}" (change)="selectAttr($event,item)"/>
                                                <span class="checkmark"></span>
                                                {{item.name}}
                                            </label>
                                        </div>
                                    </ng-container>

                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <!---->

                    <!---->
                    <div *ngIf="units.length"  class="styled-form__3-column">
                        <div class="styled-form__row styled-form__row--w39">
                            <label class="styled-form__left-label styled-form__left-label--w165">Объем</label>
                            <div class="styled-form__right-value">
                                <input
                                    type="text"
                                    class="styled-input"
                                    [textMask]="numberDecimalSpaceMaskOptions"
                                    formControlName="value"
                                    placeholder="В {{volumeUnitPlaceholder}}"
                                    />
                                <div class="input-error" *ngIf="addSupplierForm.get('value').hasError('required') && addSupplierForm.get('value').touched" >Введите объем</div>
                            </div>
                        </div>
                        <div class="styled-form__row styled-form__row--w33">
                            <label class="styled-form__left-label styled-form__left-label--width-auto">Цена&nbsp;за&nbsp;единицу, руб</label>
                            <div class="styled-form__right-value">
                                    <input
                                    formControlName="price_per_unit"
                                    [textMask]="numberDecimalSpaceMaskOptions"
                                    type="text"
                                    class="styled-input"

                                    />
                                    <div class="input-error" *ngIf="addSupplierForm.get('price_per_unit').hasError('required') && addSupplierForm.get('price_per_unit').touched" >Введите цену</div>
                            </div>
                        </div>
                        <div class="styled-form__row">
                                <label class="styled-form__left-label styled-form__left-label--width-auto">Единица измерения</label>
                            <div class="styled-form__right-value ">
                                <ng-select
                                    [searchable]="false"
                                    [clearable]="false"
                                    formControlName="unit_id"
                                    (change)="changeVolumeUnit()"
                                    >
                                    <ng-option *ngFor="let unit of units" [value]="unit.unit_id" >{{unit.name}}</ng-option>
                                </ng-select>
                            </div>

                        </div>
                    </div>
                    <!---->
                </div>
            </div>
            <div *ngIf="this.answerMessage.text" class="alertMessage"><br>{{answerMessage.text}}</div>
        </form>

    </bs-modal-body>
    <bs-modal-footer>
            <div *ngIf="ifSendSuccess" class="btn btn--icon" (click)="close()">Закрыть</div>
            <ng-container *ngIf="!ifSendSuccess">
                    <div class="btn btn--icon" (click)="close()"><div class="icon icon--circle-red-close"></div>Отменить</div>
                    <div class="btn btn--icon" (click)="submit()">
                        <div class="icon icon--circle-green-active"></div>
                        {{ifSubmit ? 'Отправка...':'Отправить'}}
                    </div>
            </ng-container>

    </bs-modal-footer>
</bs-modal>
