<div *ngIf="supplierRiskInfo" class="container">
    <div class="bordered-title"><span>ИНДЕКС РИСКОВАННОСТИ ПОСТАВЩИКА</span></div>
    <div *ngIf="supplierRiskInfo" class="supplier-risk">
        <div class="supplier-risk__row">
            <div *ngIf="supplierRiskInfo && supplierRiskInfo.data.length" class="supplier-risk__column">
                <table class="supplier-risk__table">
                    <tr>
                        <th>Контракты</th>
                        <th>Количество</th>
                        <th>Объем (руб.)</th>
                    </tr>
                    <tr *ngFor="let info of supplierRiskInfo.data">
                        <td>{{info.name}}:</td>
                        <td>{{info.count | thousandsSpace}}</td>
                        <td>{{info.value | thousandsSpace}}</td>
                    </tr>
                </table>
                <div class="supplier-risk__info">
                    <div class="supplier-risk__info__row">
                        <div>Компания существует меньше года</div>
                        <div>Нет</div>
                    </div>
                    <div class="supplier-risk__info__row">
                        <div>Совместное участие аффилированных компаний в закупках </div>
                        <div>Нет</div>
                    </div>
                    <div class="supplier-risk__info__row">
                        <div>Работа с одним заказчиком</div>
                        <div>Нет</div>
                    </div>
                </div>

            </div>
            <div class="supplier-risk__column">
                <div *ngIf="supplierRiskInfo && supplierRiskInfo.data.length" class="supplier-risk__chart" [chart]="chart"></div>
                <div class="supplier-risk__legend">
                    <div class="supplier-risk__legend__row">
                        <div>Масштаб:</div>
                        <div>Средний</div>
                    </div>
                    <div class="supplier-risk__legend__row">
                        <div>Рейтинг:</div>
                        <div>{{supplierRiskInfo.risk_index}} из 100</div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
