<div class="container">
    <div class="bordered-title"><span>ИНДЕКС РИСКОВАННОСТИ ПОСТАВЩИКА</span></div>
    <div class="supplier-risk">
        <div class="supplier-risk__row">
            <div class="supplier-risk__column">
                <table class="supplier-risk__table">
                    <tr>
                        <th>Контракты</th>
                        <th>Количество</th>
                        <th>Объем (руб.)</th>
                    </tr>
                    <tr>
                        <td>Заключенные:</td>
                        <td>7</td>
                        <td>2 474 400</td>
                    </tr>
                    <tr>
                        <td>Исполненные:</td>
                        <td>7</td>
                        <td>2 474 000</td>
                    </tr>
                    <tr>
                        <td>Расторгнутые:</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </table>
                <div class="supplier-risk__info">
                    <div class="supplier-risk__info__row">
                        <div>Компания существует меньше года</div>
                        <div>Нет</div>
                    </div>
                    <div class="supplier-risk__info__row">
                        <div>Совместное участие аффилированных компаний в закупках </div>
                        <div>Нет</div>
                    </div>
                    <div class="supplier-risk__info__row">
                        <div>Работа с одним заказчиком</div>
                        <div>Нет</div>
                    </div>
                </div>

            </div>
            <div class="supplier-risk__column">
                <div class="supplier-risk__chart" [chart]="chart"></div>
                <div class="supplier-risk__legend">
                    <div class="supplier-risk__legend__row">
                        <div>Масштаб:</div>
                        <div>Средний</div>
                    </div>
                    <div class="supplier-risk__legend__row">
                        <div>Рейтинг:</div>
                        <div>100 из 100</div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>