<div *ngIf="priceChartsData.length" class="container">
    <div class="bordered-title"><span>ИНДЕКС РИСКОВАННОСТИ ПОСТАВЩИКА</span></div>
    <div  class="supplier-risk">
        <div class="supplier-risk__row">
            <div class="supplier-risk__column">
                <table class="supplier-risk__table">
                    <tr>
                        <th>Контракты</th>
                        <th>Количество</th>
                        <th>Объем (руб)</th>
                    </tr>
                    <tr >
                        <td>{{supplierRiskInfoCharts.progress.name}}:</td>
                        <td>{{supplierRiskInfoCharts.progress.count | thousandsSpace}}</td>
                        <td>{{supplierRiskInfoCharts.progress.sum | thousandsSpace}}</td>
                    </tr>
                    <tr >
                        <td>{{supplierRiskInfoCharts.done.name}}:</td>
                        <td>{{supplierRiskInfoCharts.done.count | thousandsSpace}}</td>
                        <td>{{supplierRiskInfoCharts.done.sum | thousandsSpace}}</td>
                    </tr>
                    <tr >
                        <td>{{supplierRiskInfoCharts.reject.name}}:</td>
                        <td>{{supplierRiskInfoCharts.reject.count | thousandsSpace}}</td>
                        <td>{{supplierRiskInfoCharts.reject.sum | thousandsSpace}}</td>
                    </tr>
                </table>
                <div class="supplier-risk__info">
                    <div class="supplier-risk__info__row">
                        <div>Компания существует меньше года</div>
                        <div>{{supplierRiskInfoCharts.is_new  ? 'Да' :'Нет' }}</div>
                    </div>
                    <div class="supplier-risk__info__row">
                        <div>Совместное участие аффилированных компаний в закупках </div>
                        <div>{{supplierRiskInfoCharts.is_affiliate  ? 'Да' :'Нет' }}</div>
                    </div>
                    <div class="supplier-risk__info__row">
                        <div>Работа с одним заказчиком</div>
                        <div>{{supplierRiskInfoCharts.is_one_customer  ? 'Да' :'Нет' }}</div>
                    </div>
                </div>

            </div>
            <div class="supplier-risk__column">
                <div class="supplier-risk__chart" [chart]="chart"></div>
                <div class="supplier-risk__legend">
                    <div class="supplier-risk__legend__row">
                        <div>Масштаб:</div>
                        <div *ngIf="!supplierRiskInfoCharts.scale">не оперделено</div>
                        <div *ngIf="supplierRiskInfoCharts.scale=='1'">
                            Мелкий
                        </div>
                        <div *ngIf="supplierRiskInfoCharts.scale=='2'">
                            Средний
                        </div>
                        <div *ngIf="supplierRiskInfoCharts.scale=='3'">
                            Крупный
                        </div>
                    </div>
                    <div class="supplier-risk__legend__row">
                        <div>Рейтинг добросовестности:</div>
                        <div>{{supplierRiskInfoCharts.risk_index}} из 100</div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
