<div id="search-filter">
<div class="search-form" >
        <div class="container">
            <form [formGroup]="searchForm" novalidate >
                <div class="search-form__row">
                    <fieldset class="search-form__left">
                        <label class="styled-label">ПОИСК</label>
                        <div class="search-form__search">
                            <ng-select 
                                class="search-form__search__select" 
                                [searchable]="false" 
                                formControlName="type" 
                                [clearable]="false"
                                (change)="changeType()"
                                >
                                <ng-option *ngFor="let type of seacrhType" value="{{type.id}}">{{type.name}}</ng-option>
                            </ng-select>
                            <div  class="search-form__search__query autocomplete-input">
                                <autocomplete-field 
                                    (onSelectedValue)="selectSupplier($event)"
                                    [urlSearch]="autocompleteSupplier.url"
                                    [searchFields]="autocompleteSupplier.searchField"
                                    [titleField]="autocompleteSupplier.titleField"
                                    [placeholder]="'Поиск по поставщику'"
                                ></autocomplete-field>
                                <div *ngIf="!checkRequired" class="field-error">Выберите поставщика</div>
                            </div>
                        
                                
                        </div>
                    </fieldset>
                    <fieldset  class="search-form__right">
                            <label class="styled-label">ВИД ПОСТАВЩИКА</label>
                            <ng-select [searchable]="false" formControlName="typeSupplier" [clearable]="false" class="w200">
                                <ng-option value="1">Производитель</ng-option>
                                <ng-option value="2">Поставщик</ng-option>
                            </ng-select>
                    </fieldset>
                </div>
                <div class="search-form__row">
                    <fieldset class="search-form__left">
                        <label class="styled-label">РЕГИОН</label>
                        <regions-tag-selected  [regions]="regions"></regions-tag-selected>
                    </fieldset>
                    <fieldset  class="search-form__right">
                            <label class="styled-label">ОБЪЕМ</label>
                            <div class="field-3-column">
                                <input 
                                    type="text" 
                                    formControlName="volumeFrom"  
                                    class="styled-input" 
                                    placeholder="От" 
                                    OnlyNumber="true"
                                    [MaxValue]="searchForm.controls['volumeTo'].value" 
                                    [FormControl]="searchForm.controls['volumeFrom']"
                                    />
                                <span class="field-3-column__line">-</span>
                                <input 
                                    type="text" 
                                    formControlName="volumeTo"  
                                    class="styled-input" 
                                    placeholder="До" 
                                    OnlyNumber="true"
                                    [MinValue]="searchForm.controls['volumeFrom'].value" 
                                    [FormControl]="searchForm.controls['volumeTo']"
                                    />
                                <ng-select [searchable]="false" formControlName="unit" [clearable]="false" class="field-3-column__last">
                                    <ng-option value="1">Кг.</ng-option>
                                    <ng-option value="2">Литр</ng-option>
                                    <ng-option value="3">Упаковка</ng-option>
                                </ng-select>
                            </div>
                    </fieldset>
                </div>
                <div class="search-form__bottom-btn">
                    <div class="btn btn--red btn--40" (click)="search()">{{btnText.text}}</div>
                </div>
            </form>
        </div>
    </div>
</div>