<div id="search-filter">
<div class="search-form" >
        <div class="container">
            <form [formGroup]="searchForm" novalidate >
                <div class="search-form__row">
                    <fieldset class="search-form__left">
                        <label class="styled-label">ПОИСК</label>
                        <div class="search-form__search">
                            <ng-select 
                                class="search-form__search__select" 
                                [searchable]="false" 
                                formControlName="type" 
                                [clearable]="false"
                                (change)="changeType()"
                                >
                                <ng-option *ngFor="let type of seacrhType" value="{{type.id}}">{{type.name}}</ng-option>
                            </ng-select>
                            <div  class="search-form__search__query autocomplete-input">
                                <autocomplete-field 
                                    (onSelectedValue)="selectSupplier($event)"
                                    [urlSearch]="autocompleteSupplier.url"
                                    [searchFields]="autocompleteSupplier.searchField"
                                    [titleField]="autocompleteSupplier.titleField"
                                    [placeholder]="'Поиск по поставщику'"
                                ></autocomplete-field>
                                <div *ngIf="!checkRequired" class="field-error">Выберите поставщика</div>
                            </div>
                        
                                
                        </div>
                    </fieldset>
                </div>
                <div class="search-form__bottom-btn">
                    <div class="btn btn--red btn--40" (click)="search()">{{btnText.text}}</div>
                </div>
            </form>
        </div>
    </div>
</div>