<div class="filter popup-form popup-form--270 toggle-class">
        <div class="filter__icon" trigger-active></div>
        <div 
            *ngIf="ifSubmit"
            class="filter__icon filter__icon--clear" 
            (click)="clear($event)"></div>
        <div class="popup-form__container">
            <div>
                <label *ngFor="let item of valuesArray" class="popup-form__checkbox styled-checkbox">
                    <input type="checkbox" [value]="item" (change)="selectValue($event)"/>
                    <span class="checkmark"></span>
                    {{item}}
                </label>
            </div>

            <div class="popup-form__bottom-btn">
                <div class="btn" (click)="clear($event)">Сбросить</div>
                <div 
                    class="btn" 
                    [class.disabled]="!valuesSelected.length"
                    (click)="save($event)">Подтвердить</div>
            </div>
        </div>
    </div>