<search-filter-supplier  (onLoadData)="onLoadData($event)"  [loadData]="loadData"></search-filter-supplier>
<ng-container *ngIf="loadData">
    <div *ngIf="infoSupplier" class="title-supplier">
        <div class="container">
            <h1 class="title-supplier__title">{{infoSupplier.name}}</h1>
            <div *ngIf="infoSupplier.rating" class="rating title-supplier__rating">
                <div class="rating__title">Рейтинг поставщика</div>
                <div class="rating__count">{{infoSupplier.rating}} из 100</div>
            </div>
        </div>
    </div>
    
    <div class="toggle-card">
        <div class="container">
            <div 
                [class.active]="showCardSupplier"
                (click)="toggleCardSupplier()"
                class="toggle-card__title">
                <ng-container *ngIf="!showCardSupplier">ПОКАЗАТЬ</ng-container>
                <ng-container *ngIf="showCardSupplier">СКРЫТЬ</ng-container>
                КАРТОЧКУ ПОСТАВЩИКА
            </div>
        </div>
    </div>
    
    <div [hidden]="!showCardSupplier">
        <about-supplier ></about-supplier>
        <food-prices></food-prices>
        <supplier-risk-index></supplier-risk-index>
    </div>
    <category-slider></category-slider>

    <product-suplier ></product-suplier>
 
    <commercial-offers></commercial-offers>
    <!-- <suppliers-table *ngIf="dataColumns && suppliersData" [dataColumns]="dataColumns" [suppliersData]="suppliersData" [noShowSupplier]="true"></suppliers-table> -->
    <!-- <purchase-table></purchase-table> -->

</ng-container>



<br><br><br><br><br><br><br>