<div *ngIf="selectedCategory" class="catergory-select">
    <div class="container">

        <div class="catergory-select__block catergory-select__block--category">
            <div 
                class="catergory-select__item"
                (click)="openSubCategories()">
                    <div>
                        {{selectedCategory.name}} 
                        <ng-container *ngIf="selectedCategory.subcategory && selectedCategory.subcategory.length">
                            ({{selectedCategory.subcategory.length}})
                        </ng-container>
                    </div>
            </div>
            <div 
                class="catergory-select__tooltip"
                [class.active]="isOpenSubcategory"
               >
                <div 
                    class="catergory-select__tooltip__item catergory-select__tooltip__item--subcategory"
                    *ngFor="let subcategory of selectedCategory.subcategory"
                    (click)="selectSubCategory(subcategory)"
                    [class.active]="selectedSubCategory && subcategory.kpgz_id==selectedSubCategory.kpgz_id"
                    [class.no-child]="!subcategory['subcategory'] || !subcategory['subcategory'].length">
                   
                        {{subcategory.name}}
                        <ng-container *ngIf="subcategory['subcategory'] && subcategory['subcategory'].length">
                                ({{subcategory['subcategory'].length}})
                        </ng-container>
                    
                </div>
            </div>
        </div>

        <div *ngIf="selectedSubCategory" class="catergory-select__block">
            <div 
                class="catergory-select__item"
                (click)="openProducts()">
                    <div>
                        {{selectedSubCategory.name}} 
                        <ng-container *ngIf="selectedSubCategory.subcategory && selectedSubCategory.subcategory.length">
                            ({{selectedSubCategory.subcategory.length}})
                        </ng-container>
                    </div>
            </div>
            <div 
                class="catergory-select__tooltip"  
                *ngIf="selectedSubCategory['subcategory'] && selectedSubCategory['subcategory'].length"
                [class.active]="isOpenProduct">
                    <div 
                        class="catergory-select__tooltip__item"
                        *ngFor="let subcategory of selectedSubCategory['subcategory']"
                        [class.active]="selectedProduct && subcategory.kpgz_id==selectedProduct.kpgz_id"
                        (click)="selectProduct(subcategory)"
                        >
                        {{subcategory.name}}
                    </div>
            </div>
        
        </div>
        <div 
            *ngIf="selectedProduct" 
            class="catergory-select__block catergory-select__block--product">
            <div class="catergory-select__item"><div>{{selectedProduct.name}}</div></div>
        </div>
    </div>
</div>