<div class="title-red text-center mb18 product-price__left__shift-title">ЦЕНА, <span class="lowercase">руб.</span></div>
<div class="price-table">
    <div class="price-table__row price-table__row--head">
        <div class="price-table__title"></div>
        <div class="price-table__price">
            <div>Рыночная</div>
            <div *ngIf="!isSupplierPage">Закупочная</div>
            <div *ngIf="isSupplierPage">Поставщика</div>
        </div>
    </div>
    <ng-container *ngIf="pricesDynamics">
        <div
            *ngFor="let year of pricesDynamics; let i = index" 
            [class.current-year]="year.year==currentDate.year"
            [class.current-year-arrow]="year.year==currentDate.year && year.data.length>2"
            [class.previous-year]="year.year!=currentDate.year"
            (click)="toggleYearsPrice(year);" >
                <div 
                    *ngIf="year.year!=currentDate.year"
                    class="price-table__year"
                    [class.active]="year.active">
                    {{year.year}}
                </div>
        
                <div 
                    *ngFor="let price of year.data" 
                    class="price-table__row"
                    [class.active]="year.active"
                    >
                    <div class="price-table__title"> {{price.monthText}}</div>
                    <div class="price-table__price">
                        <div>
                            <!-- {{price.market}} -->
                            <span class="value">{{price.market ? (price.market.toFixed(2)  | thousandsSpace):0}}</span>
                            <span 
                                *ngIf="price.diffMarket!=0"
                                class="price-table__diff "
                                [class.down]="price.diffMarket<0" 
                                [class.up]="price.diffMarket>0" 
                                >
                                <ng-container *ngIf="price.diffMarket>0">+</ng-container>
                                {{price.diffMarket}}
                            </span>
                        </div>
                        <div>
                            <!-- {{price.purchase}} -->
                            <span class="value">{{price.purchase ? (price.purchase.toFixed(2)  | thousandsSpace):0}}</span>
                            <span 
                                *ngIf="price.diffPurchase!=0"
                                class="price-table__diff"
                                [class.down]="price.diffPurchase<0" 
                                [class.up]="price.diffPurchase>0" 
                            >
                                <ng-container *ngIf="price.diffPurchase>0">+</ng-container>
                                {{price.diffPurchase}}
                        </span>
                        </div>
                       
                    </div>
                </div>
        </div>
    </ng-container>
  
</div>


<div class="price-table mt30 ">
    <div class="price-table__row price-table__row--head">
        <div class="price-table__title"></div>
        <div class="price-table__price price-table__price--center">Средняя</div>
    </div>
    <div class="price-table__row">
        <div class="price-table__title">Год</div>
        <div class="price-table__price">
            <div>{{averagePrice.year.market ? (averagePrice.year.market | thousandsSpace):'-'}}</div>
            <div>{{averagePrice.year.purchase ? (averagePrice.year.purchase | thousandsSpace):'-' }}</div>
        </div>
    </div>
    <div class="price-table__row">
        <div class="price-table__title">Весь период</div>
        <div class="price-table__price">
            <div>{{averagePrice.all.market | thousandsSpace}}</div>
            <div>{{averagePrice.all.purchase | thousandsSpace}}</div>
        </div>
    </div>
</div>

<div class="text-center forecast-price mt25 product-price__left__shift-title" *ngIf="predictionPriceArray">
    <div  class="forecast-price__title">Прогнозируемая цена на {{predictionPriceArray.monthText}}</div>
    <div class="forecast-price__item">{{predictionPriceArray.price | thousandsSpace}} {{predictionPriceArray.currency}} </div>
    <div *ngIf="suppliersCount" class="forecast-price__item">(На основе анализа  {{suppliersCount}} КП)</div>
</div>