<div class="search-form">
    <div class="container">
        <form [formGroup]="searchProductForm" novalidate >
            <div class="search-form__row">
                <fieldset class="search-form__left">
                    <label class="styled-label">ПОИСК</label>
                    <div class="search-form__search">
                        <ng-select class="search-form__search__select" [searchable]="false" formControlName="type" [clearable]="false">
                            <ng-option value="product">Продукт</ng-option>
                            <ng-option value="supplier">Поставщик</ng-option>
                            <ng-option value="idspgz">ID СПГЗ</ng-option>
                        </ng-select>
                        <ng2-completer 
                            class="search-form__search__query"
                            [(ngModel)]="queryStr" 
                            formControlName="query" 
                            [datasource]="dataService" 
                            [minSearchLength]="2" 
                            placeholder="Поиск по продукту"
                            [clearUnselected]="false"
                            textNoResults="Нет результатов"
                            textSearching="Загрузка.."
                            openOnClick="true"
                            pause="1000"
                            >
                        </ng2-completer>
                    </div>
                </fieldset>
                <fieldset  class="search-form__right">
                        <label class="styled-label">ОБЪЕМ</label>
                        <div class="field-3-column">
                            <input type="text" formControlName="volumeFrom"  class="styled-input" placeholder="От"/>
                            <span class="field-3-column__line">-</span>
                            <input type="text" formControlName="volumeTo"  class="styled-input" placeholder="До"/>
                            <ng-select [searchable]="false" formControlName="unit" [clearable]="false" class="field-3-column__last">
                                <ng-option value="1">Кг.</ng-option>
                                <ng-option value="2">Литр</ng-option>
                                <ng-option value="3">Упаковка</ng-option>
                            </ng-select>
                        </div>
                </fieldset>
            </div>
            <div class="search-form__row">
                <fieldset class="search-form__left">
                    <label class="styled-label">РЕГИОН</label>
                    <regions-tag-selected></regions-tag-selected>
                </fieldset>
                <fieldset   class="search-form__right">
                    <label class="styled-label">СРОК ПОСТАВКИ</label>
                    <div class="field-3-column">
                        <input type="text" formControlName="deliveryFrom" class="styled-input" placeholder="От">
                        <span class="field-3-column__line">-</span>
                        <input type="text" formControlName="deliveryTo" class="styled-input" placeholder="До">
                        <span class="field-3-column__last">дней</span>
                    </div>
                </fieldset>
              
            </div>
        </form>
    </div>
</div>