<bs-modal [animation]="true" [keyboard]="true" [backdrop]="true"
   #sentCommercialProposalModal  [cssClass]="'styled-modal styled-modal--small styled-modal--no-space'" (onClose)="onClose()" (onDismiss)="onClose()">
    <bs-modal-header [showDismiss]="true">
        <h2 class="modal-title" >Отправленнные КП</h2>
    </bs-modal-header>
    <bs-modal-body>
        <table *ngIf="sentCP && sentCP.length>0" class="styled-table styled-table--send-cp">
            <thead>
                <tr>
                    <th class="w35"></th>
                    <th class="w105">Дата отправки</th>
                    <th class="w115">Дата получения цены через КП</th>
                    <th class="w170">Адрес электронной почты</th>
                    <th class="w285">Тема письма</th>
                    <th class="w115">Статус</th>
                </tr>
            </thead>
            <tbody *ngFor="let cp of sentCP">
            
                    <tr  
                    [class.cursor]="cp.messages.length>1 || cp.messages[0].text.length>0"
                    (click)="cp.active = !cp.active;">
                        <td>
                            <div 
                                *ngIf="(cp.messages && cp.messages.length) && (cp.messages.length>1 || cp.messages[0].text.length>0)" 
                                [class.active]="cp.active"
                                
                                class="btn-toggle">
                            </div>
                        </td>
                        <td>{{cp.send_date ? cp.send_date : '-'}}</td>
                        <td>{{cp.answer_date ? cp.answer_date : '-'}}</td>
                        <td class="break-word">{{cp.email}}</td>
                        <td>{{cp.name ? cp.name : '-'}}</td>
                        <td>{{cp.result}}</td>
                    </tr>
                    <tr *ngIf="cp.active && (cp.messages.length>1 || cp.messages[0].text.length>0)">
                        <td colspan="6" class="p0">
                            <div class="messages-list" >
                                <ng-container  *ngFor="let message of cp.messages">
                                    <div 
                                        *ngIf="message.text"
                                        class="messages-list__item" 
                                    >
                                            <div class="messages-list__text">
                                                <div *ngIf="!message.showAll && message.text.length>=250">
                                                    <span [outerHTML]="message.text | slice:0:250"></span>...
                                                    &nbsp;&nbsp;
                                                    <span (click)="message.showAll = true" class="underline">Показать полностью</span>
                                                </div>

                                                <div *ngIf="message.showAll || message.text.length<250">
                                                    <div [outerHTML]="message.text"></div>
                                                </div>
                                            </div>
                                            
                                            <div class="messages-list__file" *ngIf="message.file && message.file.name && message.file.link">
                                                <div class="file-item__text">{{message.file.name}}</div>
                                                <a href="{{message.file.link}}" target="_blank" class="btn btn--icon"><div class="icon icon--download"></div>Скачать</a>
                                            </div>

                                            
                                    </div>
                                </ng-container>
                            </div>
                        </td>
                    </tr>
            </tbody>
        </table>
        <div *ngIf="sentCP && sentCP.length==0">Нет отправленных КП</div>
    </bs-modal-body>
    <bs-modal-footer>
            <div class="btn btn--icon" (click)="close()"><div class="icon icon--circle-red-close"></div>Отменить</div>
    </bs-modal-footer>
</bs-modal>
