
header{
    min-height: 100px;
    display: flex;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            display: inline-block;
            img{
                max-width: 450px;
                @include mq(lg){
                    max-width: 591px;
                }
            
            }
        }
        .nav{
            display: flex;
            align-items: center;
            >*{
                color: #989898;
                font-size: 18px;
                line-height: 24px;
                text-decoration: none;
                cursor: pointer;
                margin-left: 30px;
                display: flex;
                align-items: center;
                @include mq(lg){
                    margin-left: 47px;
                }
                &:hover{
                    text-decoration: underline;
                }
            }
            img{
                display: block;
            }
            &__exit{
                img{
                    display: block;
                    margin-right: 17px;
                    margin-top: -2px;
                }
            }
            &__submenu{
                &__icon{
                    display: block;
                    border: 12px solid transparent;
                    border-left-width: 6px;
                    border-right-width: 6px;
                    border-top-color: #c2c2c2;
                    margin-bottom: -12px;
                    margin-left: 5px;
                }
            }
        }
    }
}
