
header{
    min-height: 100px;
    display: flex;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .logo{
            display: inline-block;
            img{
                max-width: 500px;
            
            
            }
        }
        .nav{
            display: flex;
            align-items: center;
            >*{
                color: #989898;
                font-size: 15px;
                line-height: 24px;
                text-decoration: none;
                cursor: pointer;
                margin-left: 25px;
                display: flex;
                align-items: center;
                &:hover{
                    text-decoration: underline;
                }
            }
            img{
                display: block;
            }
            &__exit{
                img{
                    display: block;
                    margin-right: 7px;
                    margin-top: -2px;
                }
            }
            &__submenu{
                .submenu__icon{
                    display: block;
                    border: 8px solid transparent;
                    border-left-width: 5px;
                    border-right-width: 5px;
                    border-top-color: #c2c2c2;
                    margin-bottom: -10px;
                    margin-left: 5px;
                }
            }
        }
    }
}
