.search-form{
    background: rgba(216,216,216,0.35);
    padding: 17px 0;
    font-size: 18px;
    font-family: 'Avenir Next';

    &__row{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 29px;
        &--border-top{
            border-top:2px solid rgba(216,216,216,0.5);
            padding-top: 30px;
        }
    }
    &__left{
       width: 56%;
    }
    &__right{
        width: 36.5%;
    }
    &__search{
        display: flex;
        &__select{
            width: 30%;
            cursor: pointer;
        }
        &__query{
            padding-left: 10px;
            input{
                width: 100%;
                @extend .styled-input;
                @extend .styled-input--search;
            }
            flex-grow: 1;
        }
    }
    &__character{
        .styled-checkbox{
            &:not(:first-child){
                margin-left: 111px;
            }
           
        }
    }
  
}