.search-form{
    background: rgba(216,216,216,0.35);
    padding: 17px 0;
    font-size: 18px;
    font-family: 'Avenir Next';

    &__row{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 29px;
        &--border-top{
            border-top:2px solid rgba(216,216,216,0.5);
            padding-top: 30px;
        }
    }
    &__left{
       width: 56%;
    }
    &__right{
        width: 36.5%;
    }
    &__search{
        display: flex;
        &__select{
            width: 30%;
            cursor: pointer;
        }
        &__query{
            padding-left: 10px;
            input{
                width: 100%;
                @extend .styled-input;
                @extend .styled-input--search;
            }
            flex-grow: 1;
        }
    }
    &__character{
        .styled-checkbox{
            &:not(:first-child){
                margin-left: 111px;
            }
           
        }
    }
  
}
.catergory-select{
    border-bottom: 2px solid #c2c2c2;
    margin-bottom: 45px;
    .container{
        display: flex;
        justify-content: start;
        width: 900px;
        margin: 0 auto;
        min-height: 120px;
        align-items: center;
    }
    &__block{
        width: 29.5%;
        position: relative;
        &:nth-child(1){
            width: 32.5%;
        }
        &:nth-child(2){
            width: 38%;
        }
        &--product{
            .catergory-select__item{
                cursor: default;
            }
        }
      
            &:not(:first-child):after{
                content: "";
                position: absolute;
                display: block;
                border: 10px solid transparent;
                border-left-width: 19px;
                border-left-color: #d8d8d8;
                left: 0;
                top:50%;
                transform: translateY(-50%)
            }
        
    }
    &__item{
        cursor: pointer;
        font-family: 'Avenir Next';
        font-size: 18px;
        line-height: 24px;
        div{
            padding-left: 102px;
            padding-right: 21px;
         }
    }
    &__tooltip{
        display: none;
        position: absolute;
        z-index: 1;
        width: 390px;
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
        background: white;
        border: 1px solid #979797;
        top: 100%;
        margin-top: 11px;
        padding: 7px 0;
        &.active{
            display: block;
        }
        &:after{
            content: "";
            display: block;
            position: absolute;
            border: 1px solid transparent;
            background: white;
            padding: 6px;
            border: 1px solid #979797;
            border-left: none;
            border-bottom: none;
            top: -7px;
            transform: rotate(-45deg);
            left: 99px;
        }
        
        &__item{
            @extend .transition;
            border: 1px solid transparent;
            border-left: 0;
            border-right: 0;
            padding: 2px 20px;
            color: #6c6b6b;
            font-family: 'Avenir Next';
            font-size: 16px;
            line-height: 16px;
            min-height: 22px;
            position: relative;
            z-index: 1;
            &--subcategory:not(.no-child):after{
                content: "";
                display: block;
                @extend .transition;
                position: absolute;
                right: 0;
                top:50%;
                transform: translateY(-50%);
                border: 5px solid transparent;
                border-left-width: 10px;
                border-left-color:#d8d8d8;
            }
            
            &.no-child{
                background: rgba(216,216,216,0.35);
              
            }
            &.active{
                border-color: #979797;
                background: #e2eef2;
                font-weight: 500;
                &:after{
                    border-left-color: #979797;
                }
            }
            &:hover{
                cursor: pointer;
                background: #e2eef2;
                &:after{
                    border-left-color: #979797;
                }
            }
        }
     
    }
}
.chart-legend{
    display: flex;
    color: #6c6b6b;
	font-family: 'Avenir Next';
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.2px;
    &__left,&__right{
        display: flex;
        flex-direction: column;
    }
    &__left{
        width: 204px;
        padding-right: 10px;
    }
    &__right{
        width: 300px;
    }
    &__item{
        margin-bottom: 18px;
    }
    .styled-checkbox{
        padding-left: 25px;
    
        .checkmark{
            top: 3px;
            width: 14px;
            height: 14px;
            &:after{
                left: 4px;
                top: 1px;
                width: 3px;
                height: 7px;
                border-width: 0 1px 1px 0;
            }
        }
    }
}
.product-price{
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
    &__left{
        margin-left: 30px;
        width: 456px;
        &__shift-title{
            padding-left: 50px;
        }
    }
    &__right{
        margin-top: 94px;
    }
}
.price-table{
    font-family: 'Avenir Next';
    .previous-year{
        cursor: pointer;
        .price-table__row:not(.active){
            display: none;
        }
        .price-table__year{
            &:after{
                content: "";
                position: absolute;
                border: 7px solid transparent;
                border-left-color: #d8d8d8;
                left: 8px;
                top: 2px;
            }
            &.active:after{
                border-left-color: transparent;
                border-top-color: #d8d8d8;
                left: 4px;
                top: 5px;
            }
        }
    }
    .current-year{
        .price-table__row{
            &:not(.active){
                display: none;
            }
            &:nth-child(1),&:nth-child(2){
                display: flex;
            }
           
        }
    }
    .current-year-arrow{
        cursor: pointer;
        .price-table__row:nth-child(2){
            &:after{
                content: "";
                position: absolute;
                border: 7px solid transparent;
                border-left-color: #d8d8d8;
                left: 8px;
                top: 2px;
            
            }
            &.active:after{
                border-left-color: transparent;
                border-top-color: #d8d8d8;
                left: 4px;
                top: 5px;
            }
        }
    }
   
    &__row,&__year{
        margin-bottom: 7px;
    }
    &__row{
        display: flex;
        position: relative;
        &--head{
            margin-bottom: 16px;
        }
     
    }
    &__title,&__year{
        color: #b12726;
        position: relative;
        font-size: 13.5px;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 18px;
        width: 99px;
        text-align: right;
    }
    &__price{
        width: 312px;
        position: relative;
        text-align: center;
        color: #2c4155;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        display: flex;
        justify-content: space-between;
        &--center{
            justify-content: center;

        }
        &:last-child{
            margin-right: 0;
        }
        div{
            width: 132px;
            position: relative;
            padding-right: 14px;
        }
        span{
            position: absolute;
            right: 0;
            font-size: 13.5px;
            padding-right: 15px;
            &:after{
                content:"";
                display: block;   
                position: absolute;
                right: 0;
                border:6px solid transparent;
                border-left-width: 3px;
                border-right-width: 3px;
                top: 50%;
                margin-top: -2px;
                
            }
            &.down:after{
                border-top-color: #25ce77;
            }
            &.up:after{
                border-bottom-color: #b32520;
                margin-top: -9px;
            }
        }
    }
}
.forecast-price{
    &__item{
        color: #2c4155;
        font-family: 'Avenir Next';
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 6px;
    }
    &__title{
        color: #b32520;
        font-family: 'FiraSans';
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        margin-bottom: 18px;
    }
}

.styled-table{
    border-spacing: 0;
    border-collapse: collapse;
    color: #222121;
    font-family: 'Avenir Next';
    width: 100%;
    .w95{
        width: 95px;
        min-width: 95px;;
    }
    .w280{
        width: 280px;
        min-width: 280px;
    }
    .w87{
        width: 87px;
        min-width: 87px;
    }
    .w70{
        width: 70px;
        min-width: 70px;
    }
    .w75{
        width: 75px;
        min-width: 75px;
    }
    .w100{
        width: 100px;
        min-width: 100px;
    }
    .w107{
        width: 107px;
        min-width: 107px;
    }
    .w110{
        width: 110px;
        min-width: 110px;
    }
    tbody>tr>th{
        background: #f9f9f9;
        color: #787878;
        padding-bottom: 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
        vertical-align: middle;
        height: 105px;
        padding-left: 5px;
        padding-right: 5px;
        position: relative;
    }
    td,th{
        border: 1px solid #979797;
    }

    td{
      font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        padding: 13px 6px;
        a{
            color: #52abff;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .red-bg{
        background: #f4dede;
    }
    .red-color{
        color: #bb3a36;
    }
    .green-color{
        color: #12904f;
    }
    .yellow-color{
        color: #c0bf2f;
    }
    &__bottom-filter{
        position: absolute;
        bottom: 2px;
        right: 2px;
        display: flex;
        align-items: center;
    }
}
