<ng-container *ngIf="selectedProduct">
    <div class="container">
        <div class="bordered-title  bordered-title--large"><span>{{selectedProduct.spgz_name}}</span></div>
    </div>

    <div class="supplier-price">
        <div class="container supplier-price__content">
            <div class="supplier-price__left">
                <prices-table></prices-table>
                <chart-legend class="supplier-price__legend" *ngIf="legendData" [legendData]="legendData"  (onChanged)="onChangedChartLegend($event)"></chart-legend>
            </div>
            <div class="supplier-price__right">
                <price-chart *ngIf="priceProductCharts"  [data]="priceProductCharts"></price-chart> 
            </div>
        </div>
    </div>
    <hr class="red">
</ng-container>


